*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery {
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 80%;
}
.gallery img {
    width: 100%;
    cursor: pointer;
     transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.full-image {
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
.full-image img {
    width: 50%;
    max-height: 200px;
}
.full-image  span{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}